@using WebApplication1.Models;
@model IQueryable<WebApplication1.Models.Task>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            
        </div>
        <div class="col">
            <h1>Sample text</h1>
            <h2>There must be a lot of words about this wonderful site!</h2>
        </div>
    </div>
</div>

    <div class="text-center">
        <a asp-controller="Home" asp-action="TasksEdit">New task</a>
    </div>

    <div class="text-center">
        @foreach (WebApplication1.Models.Task entity in Model)
        {
            <div class="text-center list-group list-group-horizontal">
                @entity.Name
                <a class="btn btn-primary" asp-controller="Home" asp-action="TasksEdit" asp-route-id="@entity.Id" role="button">Edit</a>
                <a class="btn btn-primary" asp-controller="Home" asp-action="TaskDelete" asp-route-id="@entity.Id">Remove</a>
                <a class="btn btn-primary" asp-controller="Home" asp-action="TaskView" asp-route-id="@entity.Id">View</a>
            </div>
        }
    </div>
