@using WebApplication1.Models;
@model IQueryable<WebApplication1.Models.Task>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="background-color: #dec9ad; border-start-end-radius: 20px; border-start-start-radius: 20px; border-end-end-radius: 20px; border-end-start-radius: 20px; ">
    <div class="row justify-content-center">
            @foreach (WebApplication1.Models.Task tasks in Model)
            {
                <div class="card text-center" style="width: 18rem; margin: 15px; border-radius: 20px; border:hidden">
                    <img src="https://catherineasquithgallery.com/uploads/posts/2021-03/1614841462_13-p-fon-matematika-13.jpg" alt="" style="border-start-end-radius: 20px; border-start-start-radius: 20px">
                    <div class="card-body">
                        <h5 class="card-title">@tasks.Name</h5>
                        <p class="card-text">@tasks.Theme</p>
                        <a class="btn btn-primary" asp-controller="Home" asp-action="TaskView" asp-route-id="@tasks.Id" style="color: #000000; background-color: #DEAC48; border: hidden">View</a>
                    </div>
                </div>
            }
    </div>
</div>
