@model WebApplication1.Models.Task 

<div class="text-center">
    <h1>ViewTask</h1>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">Tasks name:</li>
        <li class="list-group-item">@Model.Name</li>
    </ul>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">Tasks theme:</li>
        <li class="list-group-item">@Model.Theme</li>
    </ul>
</div>